<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  
<connectionStrings>
<!--<add name="ConnectionString"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Interior;Integrated Security=True;MultipleActiveResultSets=True"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=173.82.60.154;Initial Catalog=Interirior;User Id=Interirior1;password=Interirior1"/>-->

  <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=PC-2;Initial Catalog=Interior;Integrated Security=True" />
</connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Home" />
                <add value="Default" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>